version: 1.0.4.{build}
configuration: Release
platform: x64
build:
  project: printcommandline.sln
  verbosity: minimal
skip_tags: true
test: off
artifacts:
- path: x64/Release/printcommandline.exe
  name: Release
deploy:
- provider: GitHub
  auth_token:
    secure: FA0xahKGq6AVJEOd1Oen0xPbbM3C9qETfDj69A93xeVyLDlQazwyJa1Si6fn8OMo
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true        # deploy on tag push only

deploy_script:
  - ps: >-
      Write-Host $env:APPVEYOR_REPO_TAG ;
      if($env:APPVEYOR_REPO_BRANCH -eq 'master' -And $env:APPVEYOR_REPO_TAG -eq 'true') {
        $version = $env:APPVEYOR_BUILD_VERSION -replace('\.[^.\\/]+$') ;
        Write-Host "This is deploy_script for $version"
      }
