version: 1.0.{build}
configuration: Release
platform: x64
environment:
  TEST:
    secure: FA0xahKGq6AVJEOd1Oen0xPbbM3C9qETfDj69A93xeVyLDlQazwyJa1Si6fn8OMo
build:
  project: printcommandline.sln
  verbosity: minimal
skip_tags: true
test_script:
  - set

artifacts:
- path: x64/Release/printcommandline.exe
  name: Release
deploy:
- provider: GitHub
  auth_token:
    secure: FA0xahKGq6AVJEOd1Oen0xPbbM3C9qETfDj69A93xeVyLDlQazwyJa1Si6fn8OMo

